<div class="user" *ngIf="(user) as user">

  <div class="d-flex justify-content-center">
    Nazwa użytkownika: {{user.username}}
  </div>

  <div class="d-flex justify-content-center">
    Rola: 
    <select id = "role">
      <option *ngFor="let role of roles" [value]="role.value" [selected]="role.value === user.role"> {{role.name}} </option>
    </select>
  </div>

  <div class="d-flex justify-content-center">
    Klasa:
    <select id = "classroom">
      <option *ngFor="let classroom of classrooms" [value]="classroom._id" [selected]="classroom._id === user.classroom"> {{classroom.name}} </option>
    </select>
  </div>

  <div class="d-flex justify-content-center">
    Przedmioty: 
  </div>
  
  <div class="d-flex justify-content-center" (click)="selectAll()"> <button class="" > Select All </button></div>

  <div class="d-flex justify-content-center">
    <ul class="subjects">
        <li *ngFor="let subject of subjects;"  id="{{ subject._id }}" (click)="setSubject(subject._id)">
          {{subject.name}}
        </li>
    </ul>
  </div>

  <div class="d-flex justify-content-center" (click)="updateUser()"> <button class="" > Update </button></div>

</div>